
.ms {
    width: 100%;
    height: 800px;
    display: flex; /* Make the container a flex container */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    text-align: center; 
}